<h1>Add new entry</h1>
<p>Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum.</p>

<form action="/entries/add" method="post">
  <div>
    <label for="title">Title</label>
    <input name="title" id="title" type="text" />
  </div>

  <div>
    <label for="body">Body</label>
    <textarea name="body" id="body"></textarea>
  </div>
  <div>
    <input type="submit" value="Submit" />
  </div>
</form>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/entries/list">Entries list</a></li>
</ul>
